<%= link_to "New State", [:new, :admin, :state] %>

<ul id="states">
  <% @states.each do |state| %>
    <li id="<%=dom_id(state)%>">
      <%= state.name %>
      <%= link_to "Make Default", make_default_admin_state_path(state) %>
    </li>
  <% end %>
</ul>